{% extends 'base.html.twig' %}

{% block body %}
   <div class="col-lg-6 col-lg-offset-3"> 
        <div class="panel panel-default"> 
            <div class="panel-body"> 
                <table class="table table-hover"> 
                    {{ form_start(form, {'attr': {'class': 'form form-control'}}) }}

                    {{ form_errors(form) }}
                    <tr> 
                        <td> 
                            {{ form_label(form.titre, "titre", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.titre) }}
                        </td>
                        <td>
                            {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                        </td>
                    </tr>
                    <tr> 
                        <td>
                            {{ form_label(form.corps, "corps", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.corps) }}
                        </td>
                        <td>
                            {{ form_widget(form.corps, {'attr': {'class': 'form form-control'}}) }}
                        </td>
                    </tr>
                    <tr> 
                        <td>
                            {{ form_label(form.publicationDate, "publicationDate", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.publicationDate) }}
                        </td>
                        <td>
                            {{ form_widget(form.publicationDate, {'attr': {'class': 'form-control'}}) }}    
                        </td>
                    </tr>
                    <tr> 
                        <td>
                            {{ form_label(form.image, "image", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.image) }}
                        </td>
                        <td>
                            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}    
                        </td>
                    </tr>
                    
                 


                    <tr>

                        <td class="text text-center" colspan="2">
                            <input class="btn btn-primary" type="submit" value="Create" />
                        </td>
                    </tr>
                    {{ form_end(form) }}
                </table> 
            </div>
        </div>
    </div>
{% endblock %}
