{% extends '::base.html.twig' %}

{% block body %}
   
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datevisite</th>
                <th>Personne</th>
                <th>Diab</th>
                <th>Tension</th>
                <th>Poid</th>
                <th>Remarque</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visite in visites %}
            <tr>
                <td><a href="{{ path('visite_show', { 'id': visite.id }) }}">{{ visite.id }}</a></td>
                <td>{% if visite.datevisite %}{{ visite.datevisite|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ visite.personne.id ~ ' ' ~ visite.personne.nom}}</td>
                <td>{{ visite.diab }}</td>
                <td>{{ visite.tension }}</td>
                <td>{{ visite.poid }}</td>
                <td>{{ visite.remarque }}</td>
                <td>
                    <div class="btn btn-default"> 
                        <a href="{{ path('visite_show', { 'id': visite.id }) }}">
                            <i class="glyphicon glyphicon-zoom-in"> 
                                show
                            </i> 
                        </a>
                    </div>

                    <div class="btn btn-info">  
                        <a  href="{{ path('visite_edit', { 'id': visite.id }) }}">
                            <i class="glyphicon glyphicon-edit"> 
                                edit
                            </i> 
                        </a> 
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="navigation">
    {{ knp_pagination_render(visites) }}
</div>
    <ul>
        <li>
           <a href="{{ path('visite_new') }}">
                <i class="glyphicon glyphicon-plus"> 
                    add Enfant
                </i> 
            </a>
        </li>
    </ul>
{% endblock %}
