{% extends '::base.html.twig' %}

{% block body %}
    <h1>Visites list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datevisite</th>
                <th>Diab</th>
                <th>Tension</th>
                <th>Poid</th>
                <th>Remarque</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visite in visites %}
            <tr>
                <td><a href="{{ path('visite_show', { 'id': visite.id }) }}">{{ visite.id }}</a></td>
                <td>{% if visite.datevisite %}{{ visite.datevisite|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ visite.diab }}</td>
                <td>{{ visite.tension }}</td>
                <td>{{ visite.poid }}</td>
                <td>{{ visite.remarque }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('visite_show', { 'id': visite.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('visite_edit', { 'id': visite.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="navigation">
    {{ knp_pagination_render(visites) }}
</div>
    <ul>
        <li>
            <a href="{{ path('visite_new') }}">Create a new visite</a>
        </li>
    </ul>
{% endblock %}
