{% extends '::base.html.twig' %}

{% block body %}
    <h1>Visite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visite.id }}</td>
            </tr>
            <tr>
                <th>Datevisite</th>
                <td>{% if visite.datevisite %}{{ visite.datevisite|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Diab</th>
                <td>{{ visite.diab }}</td>
            </tr>
            <tr>
                <th>Tension</th>
                <td>{{ visite.tension }}</td>
            </tr>
            <tr>
                <th>Poid</th>
                <td>{{ visite.poid }}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ visite.remarque }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('visite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('visite_edit', { 'id': visite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
