{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adultes list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cin</th
                <th>Nom</th>
                <th>ninscription</th>
                <th>dateinscription</th>
                <th>datenaissance</th>
                <th>adresse</th>
                <th>civilite</th>
                <th>AD</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for adulte in adultes %}
                <tr>
                    <td><a href="{{ path('adulte_show', { 'id': adulte.id }) }}">{{ adulte.id }}</a></td>
                    <td>{{ adulte.cin }}</td
                    <td>{{ adulte.nom }}</td>
                    <td>{{ adulte.ninscription }}</td>
                    <td>{% if adulte.dateinscription %}{{ adulte.dateinscription|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if adulte.datenaissance %}{{ adulte.datenaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ adulte.adresse }}</td>
                    <td>{{ adulte.civilite }}</td>
                    <td>{{ adulte.ad }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('adulte_show', { 'id': adulte.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('adulte_edit', { 'id': adulte.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(adultes) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('adulte_new') }}">Create a new adulte</a>
        </li>
    </ul>
{% endblock %}
