{% extends '::base.html.twig' %}

{% block body %}
  

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datevisite</th>
                <th>Diab</th>
                <th>Tension</th>
                <th>Poid</th>
                <th>Remarque</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for visiteNA in visiteNAs %}
                <tr>
                    <td><a href="{{ path('visitena_show', { 'id': visiteNA.id }) }}">{{ visiteNA.id }}</a></td>
                    <td>{% if visiteNA.datevisite %}{{ visiteNA.datevisite|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ visiteNA.diab }}</td>
                    <td>{{ visiteNA.tension }}</td>
                    <td>{{ visiteNA.poid }}</td>
                    <td>{{ visiteNA.remarque }}</td>
                    <td>
                        <div class="btn btn-default"> 
                            <a href="{{ path('visitena_show', { 'id': visiteNA.id }) }}">
                                <i class="glyphicon glyphicon-zoom-in"> 
                                    show
                                </i> 
                            </a>
                        </div>

                        <div class="btn btn-info">  
                            <a  href="{{ path('visitena_edit', { 'id': visiteNA.id }) }}">
                                <i class="glyphicon glyphicon-edit"> 
                                    edit
                                </i> 
                            </a> 
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(visiteNAs) }}
    </div>
    <ul>
        <li>
             <a href="{{ path('visitena_new') }}">
                <i class="glyphicon glyphicon-plus"> 
                    add VisiteNA
                </i> 
            </a>
        </li>
    </ul>
{% endblock %}
