{% extends '::base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datevisite</th>
                <th>Diab</th>
                <th>Tension</th>
                <th>Poid</th>
                <th>Remarque</th>

            </tr>
        </thead>
        <tbody>
            {% for visite in visites %}
                <tr>
                    <td>{{ visite.id }}</td>
                    <td>{% if visite.datevisite %}{{ visite.datevisite|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ visite.diab }}</td>
                    <td>{{ visite.tension }}</td>
                    <td>{{ visite.poid }}</td>
                    <td>{{ visite.remarque }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">   
        <A href="javascript:window.print()" class="glyphicon glyphicon-print">Imprimer</A>
    </div> 
{% endblock %}
