{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-lg-6 col-lg-offset-3"> 
        <div class="panel panel-default"> 
            <div class="panel-body"> 
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ visiteNA.id }}</td>
                        </tr>
                        <tr>
                            <th>Diab</th>
                            <td>{{ visiteNA.diab }}</td>
                        </tr>
                        <tr>
                            <th>Tension</th>
                            <td>{{ visiteNA.tension }}</td>
                        </tr>
                        <tr>
                            <th>Poid</th>
                            <td>{{ visiteNA.poid }}</td>
                        </tr>
                        <tr>
                            <th>Remarque</th>
                            <td>{{ visiteNA.remarque }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3"> 
        <table class="table table-responsive"> 
            <tr>
                <td>
                    <br>   
                    <div class="btn btn-default"> 
                        <a href="{{ path('visitena_index') }}">
                            <i class="glyphicon glyphicon-list"> 
                                List
                            </i> 
                        </a>
                    </div>
                </td> 
                <td> <br> 
                    <div class="btn btn-default"> 
                        <a href="{{ path('visitena_edit', { 'id': visiteNA.id }) }}">
                            <i class="glyphicon glyphicon-pencil"> 
                                Edit
                            </i> 
                        </a>
                    </div>
                     </td> 
                <td> 
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </td> 
            </tr> 
        </table>
    </div>

    
{% endblock %}
