{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-lg-6 col-lg-offset-3"> 
        <div class="panel panel-default"> 
            <div class="panel-body"> 
                <table class="table table-hover"> 
                    {{ form_start(form, {'attr': {'class': 'form form-control'}}) }}

                    {{ form_errors(form) }}
                    <tr> 
                        <td> 
                            {{ form_label(form.nom, "nom", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.nom) }}
                        </td>
                        <td>
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        </td>
                    </tr>
                    <tr> 
                        <td>
                            {{ form_label(form.dateinscription, "dateinscription", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.dateinscription) }}
                        </td>
                        <td>
                            {{ form_widget(form.dateinscription, {'attr': {'class': 'form form-control'}}) }}
                        </td>
                    </tr>
                    <tr> 
                        <td>
                            {{ form_label(form.ninscription, "ninscription", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.ninscription) }}
                        </td>
                        <td>
                            {{ form_widget(form.ninscription, {'attr': {'class': 'form-control'}}) }}    
                        </td>
                    </tr>
                    <tr> 
                        <td>
                            {{ form_label(form.datenaissance, "datenaissance", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.datenaissance) }}
                        </td>
                        <td>
                            {{ form_widget(form.datenaissance, {'attr': {'class': 'form-control'}}) }}   
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_label(form.adresse, "adresse", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.adresse) }}
                        </td>
                        <td>
                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }} 
                        </td>
                    </tr>
                    <tr> 
                        <td>
                            {{ form_label(form.remarque, "remarque", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.remarque) }}
                        </td>
                        <td>
                            {{ form_widget(form.remarque, {'attr': {'class': 'form-control'}}) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_label(form.civilite, "civilite", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.civilite) }}
                        </td>
                        <td>
                            {{ form_widget(form.civilite, {'attr': {'class': 'form-control'}}) }} 
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            {{ form_label(form.ad, "ad", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.ad) }}
                        </td>
                        <td>
                            {{ form_widget(form.ad, {'attr': {'class': 'form-control'}}) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_label(form.nompere, "nompere", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.nompere) }}
                        </td>
                        <td>
                            {{ form_widget(form.nompere, {'attr': {'class': 'form-control'}}) }}  
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form_label(form.nommere, "nommere", {'attr': {'class': ''}}) }}
                            {{ form_errors(form.nommere) }}
                        </td>
                        <td>
                            {{ form_widget(form.nommere, {'attr': {'class': 'form-control'}}) }}  
                        </td>
                    </tr>
                    <tr>

                        <td class="text text-center" colspan="2">
                            <input class="btn btn-primary" type="submit" value="Create" />
                        </td>
                    </tr>
                    {{ form_end(form) }}
                </table> 
            </div>
        </div>
    </div>
{% endblock %}
