{% extends '::base.html.twig' %}

{% block body %}
 <div class="col-lg-6 col-lg-offset-3"> 
        <div class="panel panel-default"> 
            <div class="panel-body"> 
                <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enfant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personne.nom }}</td>
            </tr>
            <tr>
                <th>ninscription</th>
                <td>{{ personne.ninscription }}</td>
            </tr>
            <tr>
                <th>dateinscription</th>
                       <td>{% if personne.dateinscription %}{{ personne.dateinscription|date('Y-m-d H:i:s') }}{% endif %}</td>
                {#% if vendu.datevendu %}{{ vendu.datevendu|date('Y-m-d H:i:s') }}{% endif %#}
            </tr>
            <tr>
                <th>adresse</th>
                <td>{{ personne.adresse }}</td>
            </tr>
            <tr>
                <th>civilite</th>
                <td>{{ personne.civilite }}</td>
            </tr>
            <tr>
                <th>AD</th>
                <td>{{ personne.ad }}</td>
          
            </tr>
            <tr>
                <th>datenaissance</th>
                <td>{% if personne.datenaissance %}{{ personne.datenaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
                {#% if vendu.datevendu %}{{ vendu.datevendu|date('Y-m-d H:i:s') }}{% endif %#}
            </tr>
            <tr>
                <th>adresse</th>
                <td>{{ personne.adresse }}</td>
            </tr>
            <tr>
                <th>civilite</th>
                <td>{{ personne.civilite }}</td>
            </tr>
            
            <tr>
                <th>Nom pere</th>
                <td>{{ enfant.nompere }}</td>
            </tr>
            <tr>
                <th>Nom mere</th>
                <td>{{ enfant.nommere }}</td>
            </tr>
        </tbody>
    </table>
 </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3"> 
        <table class="table table-responsive"> 
            <tr>
                <td>
                    <br>   
                    <div class="btn btn-default"> 
                        <a href="{{ path('enfant_index') }}">
                            <i class="glyphicon glyphicon-list"> 
                                List
                            </i> 
                        </a>
                    </div>
                </td> 
                <td> <br> 
                    <div class="btn btn-default"> 
                        <a href="{{ path('enfant_edit', { 'id': enfant.id }) }}">
                            <i class="glyphicon glyphicon-pencil"> 
                                Edit
                            </i> 
                        </a>
                    </div>
                     </td> 
                <td> 
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </td> 
            </tr> 
        </table>
    </div>
 
{% endblock %}
