{% extends '::base.html.twig' %}

{% block body %}
   

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Qte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
                <tr>
                    <td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.prix }}</td>
                    <td>{{ produit.qte }}</td>
                    <td>
                        <div class="btn btn-default"> 
                            <a href="{{ path('produit_show', { 'id': produit.id }) }}">
                                <i class="glyphicon glyphicon-zoom-in"> 
                                    show
                                </i> 
                            </a>
                        </div>

                        <div class="btn btn-info">  
                            <a  href="{{ path('produit_edit', { 'id': produit.id }) }}">
                                <i class="glyphicon glyphicon-edit"> 
                                    edit
                                </i> 
                            </a> 
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(produits) }}
    </div>

    <ul>
        <li>
             <a href="{{ path('produit_new') }}">
                <i class="glyphicon glyphicon-plus"> 
                    add Produit
                </i> 
            </a>
        </li>
    </ul>
{% endblock %}
