{% extends '::base.html.twig' %}

{% block body %}
     <div class="col-lg-6 col-lg-offset-3"> 
        <div class="panel panel-default"> 
            <div class="panel-body"> 
                <table class="table table-hover"> 
                    {{ form_start(edit_form, {'attr': {'class': 'form form-control'}}) }}

                    {{ form_errors(edit_form) }}
                    <tr> 
                        <td> 
                            {{ form_label(edit_form.datevendu, "datevendu", {'attr': {'class': ''}}) }}
                            {{ form_errors(edit_form.datevendu) }}
                        </td>
                        <td>
                            {{ form_widget(edit_form.datevendu, {'attr': {'class': 'form-control'}}) }}
                        </td>
                    </tr>
                    <tr> 
                        <td>
                            {{ form_label(edit_form.produit, "produit", {'attr': {'class': ''}}) }}
                            {{ form_errors(edit_form.produit) }}
                        </td>
                        <td>
                            {{ form_widget(edit_form.produit, {'attr': {'class': 'form form-control'}}) }}
                        </td>
                    </tr>
                    <tr> 
                        <td>
                            {{ form_label(edit_form.qte, "qte", {'attr': {'class': ''}}) }}
                            {{ form_errors(edit_form.qte) }}
                        </td>
                        <td>
                            {{ form_widget(edit_form.qte, {'attr': {'class': 'form form-control'}}) }}
                        </td>
                    </tr>
                    
                    
                    <tr>

                        <td class="text text-center" colspan="2">
                            <input class="btn btn-primary" type="submit" value="Edit" />
                        </td>
                    </tr>
                    {{ form_end(edit_form) }}
                </table> 
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3"> 
        <table class="table table-responsive"> 
            <tr>
                <td>
                    <br>   
                    <div class="btn btn-default"> 
                        <a href="{{ path('vendu_index') }}">
                            <i class="glyphicon glyphicon-list"> 
                                List
                            </i> 
                        </a>
                    </div>
                </td> 
              
                <td> 
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </td> 
            </tr> 
        </table>
    </div>
{% endblock %}
