{% extends '::base.html.twig' %}

{% block body %}
   

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datevendu</th>
                <th>Qte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vendu in vendus %}
                <tr>
                    <td><a href="{{ path('vendu_show', { 'id': vendu.id }) }}">{{ vendu.id }}</a></td>
                    <td>{% if vendu.datevendu %}{{ vendu.datevendu|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ vendu.qte }}</td>
                    <td>
                        <div class="btn btn-default"> 
                            <a href="{{ path('vendu_show', { 'id': vendu.id }) }}">
                                <i class="glyphicon glyphicon-zoom-in"> 
                                    show
                                </i> 
                            </a>
                        </div>

                        <div class="btn btn-info">  
                            <a  href="{{ path('vendu_edit', { 'id': vendu.id }) }}">
                                <i class="glyphicon glyphicon-edit"> 
                                    edit
                                </i> 
                            </a> 
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(vendus) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('vendu_new') }}">
                <i class="glyphicon glyphicon-plus"> 
                    add Vendu
                </i> 
            </a>
        </li>
    </ul>
{% endblock %}
