{% extends '::base.html.twig' %}

{% block body %}
    <h1>Vendu</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vendu.id }}</td>
            </tr>
            <tr>
                <th>Datevendu</th>
                <td>{% if vendu.datevendu %}{{ vendu.datevendu|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Qte</th>
                <td>{{ vendu.qte }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('vendu_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('vendu_edit', { 'id': vendu.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
